<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>SceneQA</title>
  <style>
    body {
      background-color: #E3F2FD;
    }
    .container {
      margin: 0 auto;
    }

    .container-1 {
      height: 60%;
      margin: 0 auto;
    }

    .container-2 {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      height: 25%;
      text-align: center;
      margin: 10% auto;
      padding: 5%;
    }
    nav
    {
       position: fixed;
       top: 0px;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       margin-bottom: 5%;
    }
  </style>
</head>
<body>
  <div class="w3-padding w3-display-topmiddle">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Advertisement Memorability <span style="color:green;">| Audio {{ progress }}/20<span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>
  <div class="container container-2">
    <div class="container container-1">
      <audio id="audioplayer">
        <source src="{{ audio_clip }}" type="audio/mp3">
      </audio>
      <button id="toggleCarousel" onclick="re_play()">Play</button>
      <h2>I remember hearing this audio in the experiment</h2>
      <div class="col mr-auto ml-auto">
        <form method="post">
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
          {% endfor %}
          <div class="form-group">
            <div class="row">
              <div class="col-4">{{ form.seen.0 }}</div>
              <div class="col-4">{{ form.seen.1 }}</div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary" id="submit" onclick="calculate_seek_time()">Submit</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    var audio = document.getElementById("audioplayer");
    var seek_input = document.getElementById("id_seek_time");
    var submit_button = document.getElementById("submit");
    var repeats = 0;

    function re_play() {
      if (audio.paused) {
        audio.play();
      } else if (audio.ended) {
        audio.currentTime = 0;
        audio.play();
      }
    }

    audio.onended = function() {
      repeats++;
    };

    function calculate_seek_time() {
      var seek_time = audio.currentTime + (repeats * audio.duration);
      seek_input.value = Math.round(seek_time * 1000);
    };


    </script>

</body>
</html>