{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    var sub_text = document.querySelector("a[class=navbar-brand]")
    sub_text.innerHTML += "<span style='color:green;'>\t|\tForm {{ progress }} / {{ total }}<span>"
</script>
<form method="post">
    <h2>{{ brand }}</h2>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }} <a href="/experience">Click here to continue</a>
        </div>
    {% endfor %}
    {% endfor %}

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}