{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    var sub_text = document.querySelector("a[class=navbar-brand]")
    sub_text.innerHTML += "<span style='color:green;'>\t|\tForm {{ progress }} / {{ total }}<span>"
</script>
<form method="post">
    <h2>{{ brand }}</h2>
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}    
    <p><b>Please go to <a href="https://www.mage.space/">mage.space</a> and recreate a scene that you remember from the {{ brand }} ad. Fill your prompts and outputs in prompts.txt and folders 1,2,3,4,5 </b></p>
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}